h1{
    color: rgb(146, 146, 146);
}


.form, .console, h1, .buttons{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.console{
    margin-top: 5%;
    margin-left: 5%;
    height: 25px;
    width: 300px;
}

.form{
    text-align: center;
}

.frame{

    border: 10px solid darkgray;
    margin: 0 auto;
    margin-top: 5%;
    height: 150px;
    width: 300px;
}
.buttons{
    margin-top: 15%;

}

#edit, #del{
    width: 50%;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 3px solid darkgray;
    background-color: darkgray;
    color: white;
    font-weight: bold;
}

