
.shell {
    margin: 0 auto;
    margin-top: 10%;
    width: 300px;
    height: 100px;
    border: 15px solid darkgray;
    padding: 15px 20px;
    background-color: whitesmoke;
  }

button{
    margin-top: 2%;
    width: 300px;
    border: 3px solid darkgray;
    background-color: whitesmoke;
    color: rgb(128, 128, 128)
}

input[type=text], label {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}
