.wrapper{
    width: 300px;
    height:300px;
    border:1px solid black;
}
.input{
    display: block;
    margin: 0 auto;
}
#submitButton{
    display: block;
    margin : 0 auto;
}

#innerSection{
    text-align: center;
}

#outputConsole{
    height: 400px;
    width: 500px;
    background-color: rgb(253, 253, 253);
    border: 10px solid darkgray;
    margin: 0 auto;
    margin-top: 5%;
    overflow-y: auto;
}

table{
    width: 100%;
}

.mat-column-ID {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}
  
.mat-column-Name{
    padding-left: 16px;
}
  
.mat-column-Type {
    font-style: italic;
    width: 32px;

}

#side-title{
    writing-mode: vertical-lr;
    text-orientation: mixed;
}
th{
    font-weight: bold;
}