mat-sidenav-container {
    height: 100%;
}
mat-sidenav, mat-sidenav-content {
    padding-top: 16px;

}
mat-sidenav {
    background-color: rgb(180, 180, 180);
    width: 200px;
}
.sidenav{
    height: 30px;
    border: 7px solid rgb(180, 180, 180);
}